@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: Roboto;
    background: #dbe8ff;
    text-align: center;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

li a {
  display: inline-block !important;
  transition: rotate(360deg);
}

ul {
  padding: 0;
}

ul li {
    display: inline;
}

h1 {
    text-align: center;
}

.container {
    width: 100%;
}

.siteContainer {
    margin: 0 auto;
    width: 90%;
}

.flexBox {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.site {
  display: inline-block;
    margin: 2rem;
    top: 30px;
}

.site-image {
  border-radius: 100%;
}

.title {
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
