html, body {
	max-width: 100%;
	overflow-x: hidden;
	/*overflow-y: hidden;
	color: #000; font: 15px/1.67 'Times New Roman',serif; letter-spacing: 0.05em;*/
}
/* pseudo div for background*/
#background {
	width: 1px;
	height: 1px;
	display: block:
	position: relative;
}
#background::after {
	border-left: 16px solid #F92672;
	border-right: 16px solid #F92672;
	content:"";
	background: url("../img/background.png");
	background-repeat: repeat-x;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -10;
	animation: scrollBackground 8s linear infinite;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	display: block;
}

a:hover {
	text-decoration: none;
}

/* Logo */
.page_logo {
	padding: 28px;
	z-index: 2000;
	width: 210px;
	position: absolute;
}

/* Nav */
.page_nav {
	position: fixed;
	z-index: 1000;
	padding: 250px 28px 64px 28px;
	height: 100%;
	width: 210px;
	text-align: center;
	line-height: 1.2;
}
.page_nav li {
	margin: 0.5em;
}
.page_nav a {
	left: 36px; /* letter-spacing underline workaround */
	color: #000;
}
/* cool font for the nav */
.page_nav_main a {
  text-transform: uppercase;
	font-weight: bold;
	-webkit-text-stroke: 3px black;
	text-shadow:
		3px 3px 0 #fff,
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
	font-size: 2rem;
}
.page_nav a {
	text-decoration: none;
}
.bio {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	opacity: 0;
	height: 0;
	display: none;
}

.biopic {
	height: 0;
	border-radius: 50%;
}

/* phones and tablets */
@media (max-width: 1023px) {
	body {
		font-size: 13px;
	}
}

@media (max-width: 639px), (max-height: 479px) {
	.page_nav ul {
	}
	.page_nav li {
		float: left; width: 50%;
	}
	.page_nav_meta {
		margin: 0;
	}
}

@media (max-width: 359px) {
	.page_nav li {
		float: none; width: auto;
	}
}

@keyframes scrollBackground {
	from { background-position: 0 0; }
	to { background-position: -1455px 0; }
}
