@import url('https://fonts.googleapis.com/css?family=Pacifico');
html,
body {
  background: #D3F3EE;
  text-align: center;
  overflow: hidden;
  height: 100%;
  font-family: "Pacifico";
  color: #606060;
}

body {
  display: table;
  margin: 0 auto;
}

.container {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.textContainer {
  margin-top: -300px;
  z-index: 9999999;
  animation: reveal 2s linear 1;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.SVG {
  position: absolute;
  display: inline-block;
  left: 0px;
  margin-top: -300px;
  margin-left: -10px; // to hide the squarish hanging cable end
}

@keyframes reveal {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

// small screen push svg up a bit
@media screen and (max-width: 700px) {
  body {
    font-size: 30px !important;
  }
  .SVG {
    margin-top: -500px;
  }
}

// @media screen and (max-width: 500px) {
//   .textContainer {
//     position: absolute;
//     left: 30%;
//     right: 30%;
//     top: 3%;
//   }
//   .container {
//     width: 500px;
//   }
//   h1 {
//     font-size: 10px;
//   }
//   h2 {
//     font-size: 8px;
//   }
// }
