body {
    background: black;
}

.container {
  position: absolute;
  margin: auto;
  width: 1250px; /* change size to what you want */
  height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
li{
  position:relative;
  list-style:none;
  float:left;
  margin:10px;
  opacity: 0;
  animation: reveal 1s 1;
  animation-fill-mode: forwards;
}
.outerBorder {
background-color: #1e1e1e;
height: 470px;
position: relative;
width:278px;
margin: 0 auto;
-webkit-box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
-moz-box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
box-shadow: 4px 7px 14px rgba(50, 50, 50, 0.44);
background: linear-gradient(135deg, #ffffff 0%,#4c4c4c 83%,#ffffff 100%);
}

li img{
  left: 15px;
  position: relative;
  top: 15px;
  width: 248px;
}

ul li:nth-child(2) {
  animation-delay: 1s;
}

ul li:nth-child(3) {
  animation-delay: 2s;
}

ul li:nth-child(4) {
  animation-delay: 3s;
}

.simpleBorder {
  border: 5px solid white;
}

.text1, .text2 {
  opacity: 0;
  text-align: center;
  color: white;
  animation: reveal 1s 1;
  animation-fill-mode: forwards;
}

.text1 {
  animation-delay: 4s;
}

.text2 {
  animation-delay: 5s;
}

@keyframes reveal {
    from { opacity: 0; }
    to { opacity: 1; }
}
