body {
  overflow: hidden; }

img {
  top: -1640px;
  left: -1170px;
  width: 4300px;
  height: 4300px;
  transform: rotate(3.5deg);
  position: absolute;
  animation: zoomSimple 1s linear infinite; }

@keyframes zoomSimple {
  0% {
    top: -1640px;
    left: -1170px;
    width: 4300px;
    height: 4300px;
    transform: rotate(3.5deg); }
  10% {
    transform: rotate(-5.35deg);
  }
  20% {
    transform: rotate(-14.2deg);
  }
  30% {
    transform: rotate(-23.05deg);
  }
  40% {
    transform: rotate(-31.9deg);
  }
  50% {
    transform: rotate(-40.75deg);
  }
  60% {
    transform: rotate(-49.6deg);
  }
  70% {
    transform: rotate(-58.45deg);
  }
  80% {
    transform: rotate(-67.3deg);
  }
  90% {
    transform: rotate(-76.15deg);
  }
  100% {
    top: -159500px;
    left: -159000px;
    width: 320000px;
    height: 320000px;
    transform: rotate(-85deg); } }
