img {
  position: absolute;
  animation: zoom 2s linear infinite; }

@keyframes zoom {
  0% {
    top: 500px;
    left: 1000px;
    width: 0px;
    height: 0px; }
  1% {
    top: 0px;
    left: 500px;
    width: 1000px;
    height: 1000px; }
  2% {
    top: -500px;
    left: 0px;
    width: 2000px;
    height: 2000px; }
  3% {
    top: -1000px;
    left: -500px;
    width: 3000px;
    height: 3000px; }
  4% {
    top: -1500px;
    left: -1000px;
    width: 4000px;
    height: 4000px; }
  5% {
    top: -2000px;
    left: -1500px;
    width: 5000px;
    height: 5000px; }
  6% {
    top: -2500px;
    left: -2000px;
    width: 6000px;
    height: 6000px; }
  7% {
    top: -3000px;
    left: -2500px;
    width: 7000px;
    height: 7000px; }
  8% {
    top: -3500px;
    left: -3000px;
    width: 8000px;
    height: 8000px; }
  9% {
    top: -4000px;
    left: -3500px;
    width: 9000px;
    height: 9000px; }
  10% {
    top: -4500px;
    left: -4000px;
    width: 10000px;
    height: 10000px; }
  11% {
    top: -5000px;
    left: -4500px;
    width: 11000px;
    height: 11000px; }
  12% {
    top: -5500px;
    left: -5000px;
    width: 12000px;
    height: 12000px; }
  13% {
    top: -6000px;
    left: -5500px;
    width: 13000px;
    height: 13000px; }
  14% {
    top: -6500px;
    left: -6000px;
    width: 14000px;
    height: 14000px; }
  15% {
    top: -7000px;
    left: -6500px;
    width: 15000px;
    height: 15000px; }
  16% {
    top: -7500px;
    left: -7000px;
    width: 16000px;
    height: 16000px; }
  17% {
    top: -8000px;
    left: -7500px;
    width: 17000px;
    height: 17000px; }
  18% {
    top: -8500px;
    left: -8000px;
    width: 18000px;
    height: 18000px; }
  19% {
    top: -9000px;
    left: -8500px;
    width: 19000px;
    height: 19000px; }
  20% {
    top: -9500px;
    left: -9000px;
    width: 20000px;
    height: 20000px; }
  21% {
    top: -10000px;
    left: -9500px;
    width: 21000px;
    height: 21000px; }
  22% {
    top: -10500px;
    left: -10000px;
    width: 22000px;
    height: 22000px; }
  23% {
    top: -11000px;
    left: -10500px;
    width: 23000px;
    height: 23000px; }
  24% {
    top: -11500px;
    left: -11000px;
    width: 24000px;
    height: 24000px; }
  25% {
    top: -12000px;
    left: -11500px;
    width: 25000px;
    height: 25000px; }
  26% {
    top: -12500px;
    left: -12000px;
    width: 26000px;
    height: 26000px; }
  27% {
    top: -13000px;
    left: -12500px;
    width: 27000px;
    height: 27000px; }
  28% {
    top: -13500px;
    left: -13000px;
    width: 28000px;
    height: 28000px; }
  29% {
    top: -14000px;
    left: -13500px;
    width: 29000px;
    height: 29000px; }
  30% {
    top: -14500px;
    left: -14000px;
    width: 30000px;
    height: 30000px; }
  31% {
    top: -15000px;
    left: -14500px;
    width: 31000px;
    height: 31000px; }
  32% {
    top: -15500px;
    left: -15000px;
    width: 32000px;
    height: 32000px; }
  33% {
    top: -16000px;
    left: -15500px;
    width: 33000px;
    height: 33000px; }
  34% {
    top: -16500px;
    left: -16000px;
    width: 34000px;
    height: 34000px; }
  35% {
    top: -17000px;
    left: -16500px;
    width: 35000px;
    height: 35000px; }
  36% {
    top: -17500px;
    left: -17000px;
    width: 36000px;
    height: 36000px; }
  37% {
    top: -18000px;
    left: -17500px;
    width: 37000px;
    height: 37000px; }
  38% {
    top: -18500px;
    left: -18000px;
    width: 38000px;
    height: 38000px; }
  39% {
    top: -19000px;
    left: -18500px;
    width: 39000px;
    height: 39000px; }
  40% {
    top: -19500px;
    left: -19000px;
    width: 40000px;
    height: 40000px; }
  41% {
    top: -20000px;
    left: -19500px;
    width: 41000px;
    height: 41000px; }
  42% {
    top: -20500px;
    left: -20000px;
    width: 42000px;
    height: 42000px; }
  43% {
    top: -21000px;
    left: -20500px;
    width: 43000px;
    height: 43000px; }
  44% {
    top: -21500px;
    left: -21000px;
    width: 44000px;
    height: 44000px; }
  45% {
    top: -22000px;
    left: -21500px;
    width: 45000px;
    height: 45000px; }
  46% {
    top: -22500px;
    left: -22000px;
    width: 46000px;
    height: 46000px; }
  47% {
    top: -23000px;
    left: -22500px;
    width: 47000px;
    height: 47000px; }
  48% {
    top: -23500px;
    left: -23000px;
    width: 48000px;
    height: 48000px; }
  49% {
    top: -24000px;
    left: -23500px;
    width: 49000px;
    height: 49000px; }
  50% {
    top: -24500px;
    left: -24000px;
    width: 50000px;
    height: 50000px; }
  51% {
    top: -25000px;
    left: -24500px;
    width: 51000px;
    height: 51000px; }
  52% {
    top: -25500px;
    left: -25000px;
    width: 52000px;
    height: 52000px; }
  53% {
    top: -26000px;
    left: -25500px;
    width: 53000px;
    height: 53000px; }
  54% {
    top: -26500px;
    left: -26000px;
    width: 54000px;
    height: 54000px; }
  55% {
    top: -27000px;
    left: -26500px;
    width: 55000px;
    height: 55000px; }
  56% {
    top: -27500px;
    left: -27000px;
    width: 56000px;
    height: 56000px; }
  57% {
    top: -28000px;
    left: -27500px;
    width: 57000px;
    height: 57000px; }
  58% {
    top: -28500px;
    left: -28000px;
    width: 58000px;
    height: 58000px; }
  59% {
    top: -29000px;
    left: -28500px;
    width: 59000px;
    height: 59000px; }
  60% {
    top: -29500px;
    left: -29000px;
    width: 60000px;
    height: 60000px; }
  61% {
    top: -30000px;
    left: -29500px;
    width: 61000px;
    height: 61000px; }
  62% {
    top: -30500px;
    left: -30000px;
    width: 62000px;
    height: 62000px; }
  63% {
    top: -31000px;
    left: -30500px;
    width: 63000px;
    height: 63000px; }
  64% {
    top: -31500px;
    left: -31000px;
    width: 64000px;
    height: 64000px; }
  65% {
    top: -32000px;
    left: -31500px;
    width: 65000px;
    height: 65000px; }
  66% {
    top: -32500px;
    left: -32000px;
    width: 66000px;
    height: 66000px; }
  67% {
    top: -33000px;
    left: -32500px;
    width: 67000px;
    height: 67000px; }
  68% {
    top: -33500px;
    left: -33000px;
    width: 68000px;
    height: 68000px; }
  69% {
    top: -34000px;
    left: -33500px;
    width: 69000px;
    height: 69000px; }
  70% {
    top: -34500px;
    left: -34000px;
    width: 70000px;
    height: 70000px; }
  71% {
    top: -35000px;
    left: -34500px;
    width: 71000px;
    height: 71000px; }
  72% {
    top: -35500px;
    left: -35000px;
    width: 72000px;
    height: 72000px; }
  73% {
    top: -36000px;
    left: -35500px;
    width: 73000px;
    height: 73000px; }
  74% {
    top: -36500px;
    left: -36000px;
    width: 74000px;
    height: 74000px; }
  75% {
    top: -37000px;
    left: -36500px;
    width: 75000px;
    height: 75000px; }
  76% {
    top: -37500px;
    left: -37000px;
    width: 76000px;
    height: 76000px; }
  77% {
    top: -38000px;
    left: -37500px;
    width: 77000px;
    height: 77000px; }
  78% {
    top: -38500px;
    left: -38000px;
    width: 78000px;
    height: 78000px; }
  79% {
    top: -39000px;
    left: -38500px;
    width: 79000px;
    height: 79000px; }
  80% {
    top: -39500px;
    left: -39000px;
    width: 80000px;
    height: 80000px; }
  81% {
    top: -40000px;
    left: -39500px;
    width: 81000px;
    height: 81000px; }
  82% {
    top: -40500px;
    left: -40000px;
    width: 82000px;
    height: 82000px; }
  83% {
    top: -41000px;
    left: -40500px;
    width: 83000px;
    height: 83000px; }
  84% {
    top: -41500px;
    left: -41000px;
    width: 84000px;
    height: 84000px; }
  85% {
    top: -42000px;
    left: -41500px;
    width: 85000px;
    height: 85000px; }
  86% {
    top: -42500px;
    left: -42000px;
    width: 86000px;
    height: 86000px; }
  87% {
    top: -43000px;
    left: -42500px;
    width: 87000px;
    height: 87000px; }
  88% {
    top: -43500px;
    left: -43000px;
    width: 88000px;
    height: 88000px; }
  89% {
    top: -44000px;
    left: -43500px;
    width: 89000px;
    height: 89000px; }
  90% {
    top: -44500px;
    left: -44000px;
    width: 90000px;
    height: 90000px; }
  91% {
    top: -45000px;
    left: -44500px;
    width: 91000px;
    height: 91000px; }
  92% {
    top: -45500px;
    left: -45000px;
    width: 92000px;
    height: 92000px; }
  93% {
    top: -46000px;
    left: -45500px;
    width: 93000px;
    height: 93000px; }
  94% {
    top: -46500px;
    left: -46000px;
    width: 94000px;
    height: 94000px; }
  95% {
    top: -47000px;
    left: -46500px;
    width: 95000px;
    height: 95000px; }
  96% {
    top: -47500px;
    left: -47000px;
    width: 96000px;
    height: 96000px; }
  97% {
    top: -48000px;
    left: -47500px;
    width: 97000px;
    height: 97000px; }
  98% {
    top: -48500px;
    left: -48000px;
    width: 98000px;
    height: 98000px; }
  99% {
    top: -49000px;
    left: -48500px;
    width: 99000px;
    height: 99000px; }
  100% {
    top: -49500px;
    left: -49000px;
    width: 100000px;
    height: 100000px; } }
