body {
  overflow: hidden;
}

.container {
  position: absolute;
  margin: auto;
  width: 500px; /* change size to what you want */
  height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  // top: -1640px;
  // left: -1170px;
  // width: 4300px;
  // height: 4300px;
  transform: rotate(3.5deg) translate(-50%, -50%);
  position: relative;;
  animation: zoom 5s linear infinite;
}

// @function sqrt($r) {
//   $x0: 1;
//   $x1: $x0;
//
//   @for $i from 1 through 10 {
//     $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
//     $x0: $x1;
//   }
//
//   @return $x1;
// }
//
@keyframes zoom {
  @for $i from 0 through 100 {
    $percent: 1% * $i;
    #{$percent} {
      // top: -(3200*$i)/2+500#{px};
      // left: -(3200*$i)/2+1000#{px};
      width: .5*$i*$i#{px};
      height: .5*$i*$i#{px};
      transform: rotate(-$i*.85#{deg})
    }
  }
}
