body {
  overflow: hidden;
}

.container {
  position: absolute;
  margin: auto;
  width: 800px;
  height: 800px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cipher, .background, .ring, .fog1, .fog2, .fog3, .fog4, .fog5, .fog6 {
  position: absolute;
  width: 99%;
}

.cipher {
  z-index: 99999;
}
.cipherAnimation {
  animation: fadeAway 8s linear 1;
  animation-fill-mode: forwards;
}

.background {
    border: 20px solid black;
  top: -2.5%;
  left: -2.5%;
}

// animations for the fog
.fog1 {
  z-index: 12;
}
.fog1Animation {
  animation: drift1 8s ease-in-out infinite;
}
.fog2 {
  z-index: 11;
}
.fog2Animation {
  animation: drift2 8s linear infinite;
}
.fog3 {
  z-index: 4;
}
.fog3Animation {
  animation: drift3 8s ease-in infinite;
}
.fog4 {
  z-index: 10;
}
.fog4Animation {
  animation: drift4 8s ease-out infinite;
}
.fog5 {
  z-index: 7;
}
.fog5Animation {
  animation: drift5 8s linear infinite;
}
.fog6 {
  z-index: 1;
}
.fog6Animation {
  animation: drift6 8s ease-in-out infinite;
}
//fog divs drift back and forth
 .fogAnimation {
  animation-delay: 8s;
  animation-direction: alternate;
}

//ring rotates infinitely
.ring {
  top: -16%;
  left: -3.5%;
  z-index: 99;
}
.ringAnimation {
  animation: spin 8s linear infinite;
  animation-delay: 8s;
}



@keyframes fadeAway {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// full 360 spin after the jpg dissapears
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes drift1 {
  from {
    margin-left:-2%;
  }
  to {
    margin-left:-2%;
  }
}

@keyframes drift2 {
  from {
    margin-left:0%;
  }
  to {
    margin-left:2%;
  }
}

@keyframes drift3 {
  from {
    margin-left:0%;
  }
  to {
    margin-left:-3%;
  }
}

@keyframes drift4 {
  from {
    margin-left:0%;
  }
  to {
    margin-left:4%;
  }
}

@keyframes drift5 {
  from {
    margin-left:0%;
  }
  to {
    margin-left:-5%;
  }
}

@keyframes drift6 {
  from {
    margin-left:0%;
  }
  to {
    margin-left:7%;
  }
}
